#main{
    height:100% ;
    padding-top:11%;
    padding-bottom:11%;

}
#arrow-down{
    padding-bottom:15px;
}
.flex-center{
    display: block;
    text-align: center;
}
.tips{
    text-align: center;
    font-size: 1.1em;
    position: absolute;
    padding-top:15px ;
    line-height:30px ;
    border-top: 6px double #fff;
}
.none{
    display: none;
}
.center{
    text-align: center!important;
}
.footer-image{
    width:40px;height:40px;display:inline
}
.makeyourtrip-map{
    width:100%;
    height:550px;
    position:absolute;
}
.package-row{
    position:relative;top:480px;
}
.relative{
    position: relative;
}
.relative:hover{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.tagline{
    text-align: center;
    font-size: 1.1em;
}
#section-main{
    background-color:#482d9e;
    /*#482d9e;*/
}
#trek{
    padding-top:300px ;
    padding-bottom:300px ;
}
#section-first{
    background: rgba(33,150,243,0.3);
}
#section-second{
    background: rgba(255, 193, 7,0.3);
}
#section-third{
    background: rgba(76, 175, 80,0.3);
}
#section-fifth{
    background: rgba(156, 39, 176,0.3);
}
#section-sixth{
    background: rgba(0, 150, 136,0.2)
}
#section-seventh{
    background: rgba(158, 158, 158,0.3);
}
.trekking-font{
    font-family: 'Mitr', sans-serif;
}
.tour-font{
    font-family: 'Mitr', sans-serif;
}
.fun-font{
    font-family: 'Mitr', sans-serif;
}
.makeyourtour-font{
    font-family: 'Sacramento', cursive;
}
.small-star{
    font-size:12px ;
}
.inline{
    display: inline-block;
}
.review-image{
    width:50px;
    height:50px
}
.m-r-05{
    margin-right:5px ;
}
.transport-font{
    font-family: 'Mitr', sans-serif;
}
.accomodation-font{
    font-family: 'Mitr', sans-serif;
}
.discover-font{
    font-family: 'Mitr', sans-serif;
}
.nav-li{
    margin:5px ;
}
.nav-menu-item{
    padding:5px ;
    color:#fff;
    font-size:16px ;
    font-weight:bold ;
}
.nav-menu-item:hover{
    color:#fff;
}
.nav-menu{
    top:35%;
    position: fixed;
    left:15px ;
    display:none ;
}
#tours{
    padding-top:300px ;
    padding-bottom:300px ;
}
#fun{
    padding-top:300px ;
    padding-bottom:300px ;
}
#makeyourtour{
    padding-top:50px ;
    padding-bottom:50px ;
}
#section-fourth{
    background-color:#FF7200;
    padding-top:80px ;
    padding-bottom:80px ;
}
#transport{
    padding-top:300px ;
    padding-bottom:300px ;
}
#accomodation{
    padding-top:300px ;
    padding-bottom:300px ;
}
#annapurna{
    padding-top:225px ;
    padding-bottom:225px ;
 }
#everest{
    padding-top:225px ;
    padding-bottom:225px ;
}
#manaslu{
    padding-top:225px ;
    padding-bottom:225px ;
}
#langtang{
    padding-top:225px ;
    padding-bottom:225px ;
}
#uppermustang{
    padding-top:225px ;
    padding-bottom:225px ;
}
#ourfamily{
    padding-top:250px ;
    padding-bottom:250px ;
}
.header-text{
    padding-top:15px ;
}
.pd-btm{
    padding-bottom:10px;
}
.red:hover{
    color:#cc3126!important;
}
.scrollToTop{
    width:60px;
    height:60px;
    padding:10px;
    text-align:center;
    font-weight: bold;
    color: #444;
    background-color:#f44336 ;
    text-decoration: none;
    position:fixed;
    top:400px;
    right:40px;
    display:none;
}
.lefts{
    left:40px;
}
.btn-floating{
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    transition: .1s;
    margin: 10px;
}
.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 2rem;
}
.btn-floating.btn-large i {
    line-height: 35px;
}
i.fa.fa-angle-up{
    padding-right: 18px;
    color:#fff ;
}
.blog-image{
    height:200px;
    width:250px;
    border:5px solid #eceeef;
}
.blog-image-big{
    max-height:400px;
    width:600px;
    border:5px solid #eceeef;
}
.blog-row{
    padding:0px 0px;
}
.blog-para{
    font-size:16px ;
}
.blogger{
    height:40px ;
    width:40px ;
}
.blogger-name{
    color:#ff6f00;
}
.blockquotebox{
    padding:15px 15px ;
    border-left: 5px solid #9E9E9E;
    background-color:#eceeef ;
}
.blockquotebox:hover{
    cursor: pointer;
    border-left: 5px solid #2098d1;
}
.separation{
    border-bottom:1px solid #fff ;
}
.back-btn{
    float: left;
    position: fixed;
    top:35px ;
    left:15px ;
}
.back-btn1{
    float: left;
    position: fixed;
    bottom:30px ;
    left:15px ;
}
.page-link:focus, .page-link:hover {
    color: #fff;
    background-color: #ff6f00;
}
.bus-info{
    padding:15px 15px ;
}
label{
    font-size: 17px;
}
.category{
    font-weight:bold;
    text-transform:capitalize;
    color:#818a91;
}
/*.blogimg-section{*/
    /*padding:15px 15px;*/
/*}*/
.block-title{
    font-weight:bold ;
}
.block-title:hover{
    text-decoration:underline ;
}
.tour-info{
    font-weight:bold;
    color:#28268e ;
}
.tour-modal{

}
.left{
    text-align: left !important;
}
#join-form{
    padding-top:80px ;
    padding-bottom:80px ;
}
.by{
    display: inline;
}
.text-black{
    color:#000;
}
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 1rem;
    font-weight:bolder;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: .2375rem .2375rem 0 0;
}
.popover{
    background-color:transparent;
    color:#000 ;
    font-weight:bolder;
    opacity: 1;
    font-family: 'Droid Sans', sans-serif;
}
.activity{
    font-size:54px ;
    position: relative;
}
.activity:hover{
    cursor: pointer;
    text-shadow: #ccc 2px -1px 0, #c9c9c9 2px -2px 0, #bbb 2px -3px 0, #b9b9b9 2px -4px 0, #aaa 2px -5px 0, rgba(0, 0, 0, .1) 0 -6px 1px, rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .3) 0 -1px 3px, rgba(0, 0, 0, .15) 0 -3px 5px, rgba(0, 0, 0, .2) 0 -5px 10px, rgba(0, 0, 0, .2) 0 -10px 10px, rgba(0, 0, 0, .1) 0 -20px 20px;

}
#bungee{
    padding:150px 0 ;
    background-color:#673AB7 ;
}
#zip-flier{
    padding:150px 0 ;
    background-color:#4CAF50;
}
#paragliding{
    padding:150px 0 ;
    background-color:#FF5722;
}
#ultralight{
    padding:150px 0 ;
    background-color:#2196F3;
}
#rafting{
    padding:150px 0 ;
    background-color:#2a424d;
}
footer.page-footer {
     margin-top:0px;
    padding-top: 20px;
}
.blue{
    background-color: #272626!important;
}
footer.page-footer .footer-copyright {
    background-color:#000 ;
}
.trekking-heading{

    padding:15px 15px ;
}
#section-annapurna,#section-everest,#section-manaslu,#section-langtang,#section-uppermustang{
    background: rgba(33,150,243,0.3);
}
.side-box{
    background-color:#482d9e;
    color:#fff ;
    margin-bottom: 15px;
    border-radius:0px 50px;
    padding:15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
}

.review-box{
    margin-top:15px ;
}
.review-details{
    display: inline-block;

}
.social-icons{
    margin-left:10px ;
}
.footer-icons:hover{
    color:#ff7200;
    cursor: pointer;
}
.map-section{
    padding-top:15px ;
}
#fun-activity{
    background:url("../img/c.jpg") no-repeat center;
    background-size: cover;
    padding:35px 0 ;
}
.time{
    background-color: #482d9e;
    padding: 15px 15px;
    color: #fff;
}
.select2{
    margin-bottom:15px ;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F44336 !important;
    border: 1px solid #F44336 !important;

}
.mrg-t-b{
    margin:35px 0 ;
}
#photo-tour{
    padding:150px 0;
    background-color:#673AB7 ;
}
#traditional-village{
    padding:150px 0;
    background-color:#4CAF50;
}
#buddhist-pilgrims{
    padding:150px 0;
    background-color:#FF5722;
}
#safari{
    padding:150px 0;
    background-color:#2bbbad;
}
#world-heritage{
    padding:150px 0;
    background-color:#2196F3;
}
#hindu-pilgrims{
    padding:150px 0;
    background-color:#F44336;
}
#pony-trek{
    padding:150px 0;
    background-color:#2a424d;
}
#bicycle-tour{
    padding:150px 0;
    background-color:#4c1b0a;
}
.deluxe-package{
    background-color:#482d9e;
    border:1px solid #fff ;
    padding:30px 30px;
    border-radius:50px 0;
    margin-right:0 ;
    color:#fff ;
}
.standard-package{
    background-color:#0275d8;
    border:1px solid #fff ;
    padding:30px 30px;
    border-radius:50px 0;
    margin-right:0 ;
    color:#fff ;
}
.border-top-style{
    border-top:3px solid #fff;
    padding-top:10px ;
}
.budget-package{
    background-color:#9C27B0;
    border:1px solid #fff ;
    padding:30px 30px;
    border-radius:50px 0;
    margin-right:0 ;
    color:#fff ;
}
.makeyourtrip-lists{
    font-size:18px;
}
.custom-package{
    background-color:#4caf50;
    border:1px solid #fff ;
    padding:30px 30px;
    border-radius:50px 0;
    color:#fff ;
}
.lightbox-img{
    border: 5px solid #fff;
    border-radius:25px;
    height:150px;

}
.activity-video{
    border:5px solid #fff ;
    border-radius:25px;
    height:300px;
    max-width:600px ;
}
.image-row{
    padding:15px 0 ;
}
ul.rating.inline-ul{
    margin-bottom:0 ;
}
.carousel-indicators {
        bottom: -25px;
    }
.information-list{
    color:#fff;
    background-color:#482d9e;
    border:1px solid #482d9e;
    margin-left:24px;
}
#map {
    background-color:#CC0000 ;
    width: 100%;
    height:100% ;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.airplane{
    padding:85px 10px;
    color:#fff;
}
.hotels{
    padding:128px 10px;
    color:#fff;
    background-color:#28268e;

}
.r-5{
    right:45px;
}
.two-z{
    z-index: 2;
 }
.one-z{
    z-index: 1;
    z-index: 1;
}
.p-l-10{
    padding-left:10px;
}
.guest-number{
    background-color:#fff  !important;
    color:#000;
    padding:2px 0 ;
    text-align: center;
}
.pax{
    background-color:#fff  !important;
    border:1px solid #ccc !important;
    color:#000;
    padding:2px 0 ;
    text-align: center;
    height:38px;
}
.join-form{
    background-color: #eceeef;
    padding-top: 25px;
    padding-bottom: 15px;
}
.card-number{
    background-color:#fff  !important;
    color:#000;
    padding:2px 5px;
}
.enquiry-box{
    padding:37px 10px;
    color:#fff;
    background-color:#FF7200;
}
.enquiry-btn{
    background-color:#28268e
}
#wearefamily{
    background-color:#4caf50;
    padding-top:100px;
    padding-bottom:100px;
      text-align: center;
}
#message-section{
    padding-top:20px;
    padding-bottom:20px;
    background-color:#e4edec ;
}
#werfamily-section{
    padding-top:20px;
    background-color:#4caf50;
}
.fa.fa-female,.fa.fa-male,.fa.fa-envelope-o,.fa.fa-sitemap{
    color:#fff ;
}
.werfamilyvid{
    padding-bottom:14px ;
}
.vision{
    background-color:#fff;
    padding-top:20px;
    padding-bottom:20px ;
}
.textfrom{
    font-style:italic;
    font-weight: bold;
    font-size:18px ;
}
.owner{
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}
.ceo-img{
    height:110px !important;
    width:105px;
    text-align: center;
    display: inline;
}
.mem-img{
    height:80px !important;
    width:85px;
    text-align: center;
    display: inline;
}
#msgofsatisfaction{
    background-color:#009688;
    padding-top:100px;
    padding-bottom:100px;
      text-align: center;
}
#csrprojects{
    background-color:#3f51b5;
    padding-top:100px;
    padding-bottom:100px;
      text-align: center;
}
#checkout-section{
    background-color: #482d9e;
    padding: 100px 0px;
    color:#fff ;
}
.checkout-table{
    background-color:#fff;
    color:#000 ;
}
.date-picker{
    text-align: center;
    padding:6px 0 ;
    background-color:#fff  !important;
    color:#000;
    border: 1px solid rgb(255, 114, 0);
}
.date-picker2{
    text-align: center;
    padding:6px 0 ;
    background-color:#fff  !important;
    color:#000;
    border:#eceeef;
}
.date-picker3{
    width:90% ;
    padding:6px 5px ;
    height:1.6rem !important; ;
    background-color:#fff !important;
    color:#000;
    border:1px solid #ccc !important;
}

.white-partition{
    padding:5px 0 ;
}
.air-details{
    padding:0px 15px ;
}
.price-box{
    padding:14px 0px 0px 0px;
}
.airprice{
    background-color:#4285f4;;
    padding: 10px;
    border-radius: 15px 0px;
}
.no-mar-btn{
    margin-bottom:0 !important; ;
}
.inquiry{
    text-align: center;
    background-color:#fff;
    color:#000;
    border: 1px solid rgb(255, 114, 0);
}
.selectcard,.selectcard:focus{
    text-align: center;
    background-color:#fff;
    color:#000;
    border: 1px solid #fff;
}
input[type="checkbox"]{
    width:16px;
    height:16px ;
}
#flight{
    padding:15px  ;
}
.returnbtn{
    padding: 0;
}
#csr{
    padding-top:15px;
    padding-bottom:15px ;
}
#discover-nepal{
    padding-top:15px ;
    padding-bottom:15px ;
}
.csr-img{
    width:100%;
    height:300px !important;
    margin-bottom:5px ;
}
.route-select{
    text-align: center;
    background-color:#fff;
    color:#000;
    border:#482d9e;
    margin-left:15px ;
    width:90% ;
    padding-left:5px  ;
}
.route-select:focus{
    text-align: center;
    background-color:#fff;
    color:#000;
    border:#482d9e;

}
.trekstyle{
    position:relative;
    top:15px;
}
.trekmap{
    width:98.9%;
    height:100%;
    position:absolute;
    z-index:1;
}
.trek-form{
    margin-right:15px ;
}
.w_100{
    width:100% ;
}
.makeyourtrip-footer{
    position: relative;top:500px;
}
.trek-select{
    text-align: center;
    background-color:#482d9e;
    color:#fff;
    border:#482d9e;
    margin:0 15px ;
    padding-left:5px  ;

}
.justify{
    text-align: justify;
}
.trek-select:focus{
    text-align: center;
    background-color:#482d9e;
    color:#fff;
    border:#482d9e;

}
.inquiry:focus{
    background-color:#fff;
    color:#482d9e;
}
.bus{
    padding:85px 0;
    color:#fff;
}
.taxi{
    padding:90px 0;
    color:#fff;
}
.left-bar{
    margin-bottom:15px;
    z-index:2;
}
.transport-icons{
    color:#fff;
}
.travel-btn{
    text-transform: capitalize;
}
.pricing{
    font-family: 'Sarala', sans-serif;

}
/*Meadia query*/
@media only screen and (max-width:380px) {
    .trekstyle{
        display: block;
        position: static;
    }
    .trekmap{
        width:100%;
        min-height:250px;
        position:static;
        z-index:1;
    }
    .left-bar{
        z-index:0;
    }
    .r-5{
        right:0 ;
    }
    .two-z{
        z-index:0 ;
    }
}